@font-face {
  font-family: headerFont;
  src: url(fonts/FreePixel.ttf); }
body {
  background: #c5c0b7;
  font-family: headerFont; }

h1 {
  color: green;
  font-size: 72px;
  margin-left: 7%;
  font-weight: 700; }

a {
  color: navy; }
  a:hover {
    color: blue; }

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }

#body_div {
  top: 0;
  position: relative;
  height: 100%; }

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; }

.timeline-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto; }

#banner {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 475px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center; }
  #banner #selfPortrait {
    margin-top: 100px; }
  #banner .right-banner {
    padding-top: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center; }
    #banner .right-banner .speechBubble {
      max-width: 80%;
      height: 200px; }
    #banner .right-banner #socialLinks {
      margin: auto 0;
      background-image: url(../images/contact-box3.png);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      padding: 50px 100px; }
      #banner .right-banner #socialLinks img {
        margin: 5px;
        flex: 1;
        height: 100px;
        max-width: 100px; }
        #banner .right-banner #socialLinks img#linkedInIcon {
          max-width: 110px !important; }

#nav_bar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
  height: 50px; }
  #nav_bar.navbar-fixed {
    background-color: skyblue; }
  #nav_bar .nav_links {
    border-bottom: 2px solid red;
    margin: 0;
    height: 100%; }
    #nav_bar .nav_links li {
      backface-visibility: purple;
      display: inline-block;
      margin-top: 4px;
      font-size: 24px; }
      #nav_bar .nav_links li a {
        padding: 0 15.5px;
        text-decoration: none; }

#technologies {
  padding-top: 100px; }
  #technologies .techIcons {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 100px; }
  #technologies span {
    margin: 40px 10px 0px 10px; }
  #technologies .languageIcon {
    width: 75px;
    height: 75px; }
    #technologies .languageIcon#gulp {
      width: 40px; }
    #technologies .languageIcon#php {
      margin: 15px 0px;
      height: 45px; }
  #technologies h2 {
    text-align: center; }

#history {
  padding-top: 100px; }

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: black;
  border-left: 2px solid rgba(0, 0, 139, 0.7);
  display: flex; }
  .timeline-item .lifeEventIMG {
    min-width: 199px !important;
    max-width: 200px; }
    .timeline-item .lifeEventIMG.sindeo {
      max-height: 110px !important; }
    .timeline-item .lifeEventIMG.theater {
      max-height: 200px; }
  .timeline-item .liveEventText {
    margin-left: 20px; }
    .timeline-item .liveEventText h4 {
      font-size: 28px; }
    .timeline-item .liveEventText p {
      font-size: 16px; }
  .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 1em;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: 12px; }
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 139, 0.7);
    background: darkblue; }
  .timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 139, 0.7) 60%, rgba(0, 0, 139, 0)) 1 100%; }

footer {
  background-color: pink; }

@media (max-width: 1026px) {
  body {
    background: skyblue; } }
@media (max-width: 800px) {
  body {
    background: pink; } }

/*# sourceMappingURL=styles.css.map */
