// FONTS
@font-face {
    font-family: headerFont;
    src: url(fonts/FreePixel.ttf);
}

// VARIABLES
$timeline-color: rgba(darkblue, .7);

// BASE LAYOUT
body {
  background: #c5c0b7;
//   height: 4000px;
  font-family: headerFont;
}

h1 {
    color: green;
    font-size: 72px;
    margin-left: 7%;
    font-weight: 700;
}
a {
    color: navy;
    &:hover {
        color: blue;
    }
}

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#body_div {
    top: 0;
    position: relative;
    height: 100%;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.timeline-container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

// SECTION STYLES
#banner {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 475px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    #selfPortrait {
        margin-top: 100px;
    }
    .right-banner {
        padding-top: 15px;
        flex-direction: column;
        display: flex;
        align-content: center;
        justify-content: center;
        .speechBubble {
            max-width: 80%;
            height: 200px;
        }
        #socialLinks {
            margin: auto 0;
            background-image: url(../images/contact-box3.png);
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            padding: 50px 100px;
            img {
                margin: 5px;
                flex: 1;
                height: 100px;
                max-width: 100px;
                &#linkedInIcon {
                    max-width: 110px !important;
                }
            }
        }
    }
}

#nav_bar {
    border: 0;
    border-radius: 0px;
    margin-bottom: 0;
    height: 50px;
    &.navbar-fixed {
        // background-color: #696969;
        background-color: skyblue;
    }
    .nav_links {
        border-bottom: 2px solid red;
        margin: 0;
        height: 100%;
        li {
            backface-visibility: purple;
            display: inline-block;
            margin-top: 4px;
            font-size: 24px;
            a {
                padding: 0 15.5px;
                text-decoration: none;
            }
        }
    }
}

#technologies {
    padding-top: 100px;
    // outline: 2px solid goldenrod;
    .techIcons {
        // background-color: white;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px 100px;
    }
    span {
        // outline: 1px solid red;
        margin: 40px 10px 0px 10px;
    }
    .languageIcon {
        width: 75px;
        height: 75px;
        &#gulp {
            width: 40px;
        }
        &#php {
            margin: 15px 0px;
            height: 45px;
        }
    }
    h2 {
        // background-color: red;
        // color: purple;
        text-align: center;
    }
}

#history {
    padding-top: 100px;
}

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
    color: black;
	border-left: 2px solid $timeline-color;
    display: flex;
    .lifeEventIMG {
        min-width: 199px !important;
        max-width: 200px;
        &.sindeo {
            max-height: 110px !important;
        }
        &.theater {
            max-height: 200px;
        }
    }
    .liveEventText {
        margin-left: 20px;
        h4 {
            font-size: 28px;
        }
        p {
            font-size: 16px;
        }
    }
	&::before {
		content: attr(date-is);
		position: absolute;
        left: 1em;
		top: 1em;
		display: block;
        font-weight: 700;
		font-size: 12px;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $timeline-color;
		background: darkblue;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$timeline-color 60%,
			rgba($timeline-color, 0)) 1 100%
		;
	}
}
footer {
    background-color: pink;
}





@media (max-width: 1026px) {
    body {
        background: skyblue;
    }
}
@media (max-width: 800px) {
    body {
        background: pink;
    }
}
