@font-face {
  font-family: headerFont;
  src: url(./css/fonts/FreePixel.ttf); }
body {
  background: #7aa3c6;
  font-family: headerFont;
  color: black; }

h1 {
  font-size: 72px;
  margin-left: 7%;
  font-weight: 700; }
  @media (max-width: 475px) {
    h1 {
      font-size: 48px; } }

a {
  color: #263484; }

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }

#body_div {
  top: 0;
  position: relative;
  height: 100%; }

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; }

.timeline-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto; }

#banner {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 475px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center; }
  #banner .speechBubbleMobile {
    display: none; }
  #banner #selfPortrait {
    margin-top: 100px; }
  #banner .right-banner {
    padding-top: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center; }
    #banner .right-banner .speechBubbleDesktop {
      max-width: 80%;
      height: 200px; }
    #banner .right-banner #socialLinks {
      margin: auto 0;
      background-image: url(../images/contact-box4.png);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      padding: 50px 100px; }
      #banner .right-banner #socialLinks img {
        margin: 5px;
        flex: 1;
        height: 100px;
        max-width: 100px; }
        #banner .right-banner #socialLinks img#linkedInIcon {
          max-width: 110px !important; }
        #banner .right-banner #socialLinks img#stackOverflowIcon {
          height: 110px;
          max-width: 110px;
          margin: 0; }

#nav_bar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
  height: 45px;
  transition: 1s ease-out all; }
  #nav_bar.navbar-fixed {
    background-color: #7aa3c6; }
  #nav_bar .nav_links {
    margin: 0;
    height: 100%;
    height: 45px; }
    #nav_bar .nav_links li {
      display: inline-block;
      margin: 5px 10px;
      font-size: 24px; }
      #nav_bar .nav_links li a {
        padding: 0 15px;
        text-decoration: none; }

#technologies {
  padding-top: 100px; }
  #technologies .techIcons {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 100px; }
  #technologies span {
    margin: 40px 10px 0px 10px; }
  #technologies .languageIcon {
    width: 75px;
    height: 75px; }
    #technologies .languageIcon#gulp {
      width: 40px; }
    #technologies .languageIcon#php {
      margin: 15px 0px;
      height: 45px; }
  #technologies h2 {
    text-align: center; }

#history {
  padding-top: 100px; }

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: black;
  border-left: 2px solid rgba(29, 81, 125, 0.7);
  display: flex; }
  .timeline-item .lifeEventIMG {
    min-width: 199px !important;
    max-width: 200px; }
    .timeline-item .lifeEventIMG.sindeo {
      max-height: 110px !important; }
    .timeline-item .lifeEventIMG.theater {
      max-height: 200px; }
  .timeline-item .liveEventText {
    margin-left: 20px; }
    .timeline-item .liveEventText h4 {
      font-size: 28px; }
    .timeline-item .liveEventText p {
      font-size: 16px; }
  .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 1em;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: 12px; }
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(29, 81, 125, 0.7);
    background: rgba(29, 81, 125, 0.7); }
  .timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(29, 81, 125, 0.7) 60%, rgba(29, 81, 125, 0)) 1 100%; }

footer {
  border-top: 1px solid rgba(122, 163, 198, 0.4);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; }
  footer p {
    font-size: 11px;
    text-align: center;
    margin: 10px 0; }
  footer span {
    font-weight: 700; }
  footer #copyright {
    font-size: 16px;
    font-weight: 400; }

@media (max-width: 1026px) and (min-width: 926px) {
  #banner {
    width: 100%; } }
@media (max-width: 925px) and (min-width: 801px) {
  #banner {
    flex-wrap: nowrap;
    margin: 0; }
    #banner #selfPortrait {
      width: 20%; }
    #banner .right-banner {
      width: 80%; }
      #banner .right-banner #socialLinks {
        padding: 50px 20%; }
        #banner .right-banner #socialLinks img {
          height: 75px;
          max-width: 75px; }
          #banner .right-banner #socialLinks img#linkedInIcon {
            max-width: 85px !important; }
          #banner .right-banner #socialLinks img#stackOverflowIcon {
            height: 85px;
            max-width: 85px;
            margin: 0; } }
@media (max-width: 800px) and (min-width: 614px) {
  #banner {
    flex-wrap: nowrap;
    margin: 0; }
    #banner .speechBubbleDesktop {
      max-width: 100% !important; }
    #banner #selfPortrait {
      width: 25%; }
    #banner .right-banner {
      width: 75%; }
      #banner .right-banner #socialLinks {
        padding: 0 3%;
        border: 5px solid #263484;
        background-color: #afcbe3 !important;
        background-image: none; }
        #banner .right-banner #socialLinks img {
          height: 75px;
          max-width: 75px; }
          #banner .right-banner #socialLinks img#linkedInIcon {
            max-width: 85px !important; }
          #banner .right-banner #socialLinks img#stackOverflowIcon {
            height: 85px;
            max-width: 85px;
            margin: 0; } }
@media (max-width: 613px) {
  #banner {
    flex-wrap: wrap;
    width: 100vw;
    height: 475px;
    margin: 0;
    justify-content: flex-start;
    align-content: flex-start; }
    #banner .speechBubbleMobile {
      display: inline;
      max-width: 90vw;
      height: 150px;
      margin: 10px auto 0; }
    #banner #selfPortrait {
      margin: 0;
      max-height: 325px; }
    #banner .right-banner {
      flex-direction: row;
      width: 60vw; } }
    @media (max-width: 613px) and (max-width: 355px) {
      #banner .right-banner {
        width: 50vw; } }
@media (max-width: 613px) {
      #banner .right-banner .speechBubbleDesktop {
        display: none; }
      #banner .right-banner #socialLinks {
        border: 5px solid #263484;
        background-color: #afcbe3 !important;
        background-image: none;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 0; }
        #banner .right-banner #socialLinks img {
          height: 75px;
          max-width: 75px; }
          #banner .right-banner #socialLinks img#linkedInIcon {
            max-width: 85px !important; }
          #banner .right-banner #socialLinks img#stackOverflowIcon {
            height: 85px;
            max-width: 85px;
            margin: 0; } }
        @media (max-width: 613px) and (max-width: 355px) {
          #banner .right-banner #socialLinks img {
            height: 65px;
            max-width: 65px; }
            #banner .right-banner #socialLinks img#linkedInIcon {
              max-width: 75px !important; }
            #banner .right-banner #socialLinks img#stackOverflowIcon {
              height: 75px;
              max-width: 75px;
              margin: 0; } }

@media (max-width: 613px) {
  #nav_bar .nav_links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #nav_bar .nav_links li {
      margin: 0;
      font-size: 24px; }
      #nav_bar .nav_links li a {
        padding: 0; }

  #technologies .techIcons {
    padding: 0; }

  .timeline-item {
    flex-direction: column; } }

/*# sourceMappingURL=styles.css.map */
